*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
html,body{
    height: 100%;
    width: 100%;
}
main{
    height: 100%;
    width: 100%;
    background-color:#d7ff42;
}
nav{
    padding: 30px 60px;
    width:100%;
    display: flex;
  align-items: center;
    justify-content: space-between;
}
nav .part2{
     display: flex;
     align-items: center;
     justify-content: space-around;
     gap: 100px;
     padding-top: 14px;
   
}
nav h2{
    font-size: 48px;
    font-weight: 400;
}
nav a{
    font-size: 25px;
    color: black;
    text-decoration: none;
}

section h1{
    padding-left: 55px;
    font-size: 250px;
    padding-top: 40px;
    font-weight: 900;
}
.row1{
    display: flex;
}
#video{
    width: 350px;
    height: 80px;
    background-color:black ;
    margin-left: 150px;
    margin-top: 150px;
    border-radius: 60px;
    background-image: url(https://wallpapercat.com/w/full/7/9/9/607656-3840x2160-desktop-4k-sports-car-background.jpg);
    background-size: cover;
    background-position: center;
    
}
#playbutton{
    background-color: black;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin-top: 6px;
    margin-left: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#playbutton i{
    font-size: 30px;
    margin-left: 5px;
    color:#d7ff42 ;
}
